@keyframes show {
  from {height: 49.5vh}
  to {height: 0vh}
}
@keyframes progress {
  from {width: 0%}
  to {width: 100% }
}
@keyframes hide {
  100% {opacity:0;}
}
@keyframes fliper {
  0% {width: 0px; left: 0;}
  5% {width: 20px; left: 0;}
  50% {width: 20px; left: 0;}
  100% {width: 250px; left: 0;}
}
@keyframes floper {
  0% {width: 250px; right:  0px;}
  100% {width: 0px; right: 0px;}
}
@keyframes widss {
  0% {width: 0px; }
  5% {width: 20px;}
  50% {width: 20px;}
  100% {width: 250px; }
}

@keyframes image_slide {
  from{background-position-x: -20px}
    to{background-position-x: 0px}
}

@keyframes transparency_gradient {
  from {opacity: 0 }
  to {opacity: 1 }
}
@keyframes slide-from-right {
  from {right : -100;}
  to {right : 0; }
}
@keyframes slide-to-right {
  from {right : 0; }
  to {right : -100;}
}

@keyframes fade-up {
  0% {margin-top: 30px; opacity: 0;}
  10% {margin-top :20px; opacity: 0;}
  100% {margin-top :0px; opacity: 1;}
}



body {
  margin: 0;
}

.upcurtine {
  z-index: 1000000;
  background-color: black;
  position:fixed;
  top:0;
  width: 100%;
  height:50vh;
  height: calc(var(--vh, 1vh) * 51);
  animation-name: show;
  animation-duration:  0.8s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.bottomcurtine {
  z-index: 1000000;
  background-color: black;
  position:fixed;
  bottom:0;
  width: 100%;
  height:50vh;
  height: calc(var(--vh, 1vh) * 51);
  animation-name: show;
  animation-duration: 0.8s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.progressline {
  background-color: white;
  z-index: 10000000;
  position:fixed;
  top:49.75vh;
  top: calc(var(--vh, 1vh) * 49.8);
  height: 0.5vh;
  height: calc(var(--vh, 1vh) * 0.5);
  width: 0%;
  animation-name: progress;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-fill-mode: backwards;
  animation-timing-function: ease;
}




.photo-art-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0px;
  justify-content:center;
  box-sizing: border-box;
  margin: 0 50px;
}

.photo-art-column {
  flex: 50%;
  max-width: 50%;
  padding: 0 0px;
  box-sizing: border-box;

}
.photo-art-column1 {
  padding-right : 5px;
}

.photo-art-column img {
  margin-bottom: 5px;
  vertical-align: middle;
  width : 100%;
  object-fit : contain;
  box-sizing: border-box;
}


@media (max-width: 600px) {
  .photo-art-column {
    flex: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding-right: 0;
  }
}


.photo-footer {
  display:flex;
  justify-content:center;
  margin:30px 0;
}

.photographer-footer span{
  white-space: nowrap;
}
